<div class="sidebar" [@slideInOut]="!navCollapse() ? 'open' : 'closed'">
  <div class="d-flex flex-column flex-shrink-0 w-100">
    <a class="text-decoration-none" routerLink="/">
      <img
        src="assets/logo/logo.png"
        alt="logo"
        height="70"
        draggable="false"
        class="p-1"
      />
    </a>
    <hr class="mt-0" />
    <ul class="nav nav-pills flex-column mb-auto">
      @for (menu of sidebarMenus; track $index) {
      <li class="nav-item">
        <a
          [routerLink]="menu.url"
          routerLinkActive="active"
          class="nav-link d-flex align-items-center"
          aria-current="page"
        >
          @if(menu.icon){
          <span class="sidebar-icon" [innerHTML]="menu.icon | safe"> </span>
          } @if(!navCollapse()){
          <span class="sidebar-label"> {{ menu.label | translate }}</span>
          }
        </a>
      </li>
      }
      <!-- <li class="nav-item active">
        <a
          href="#"
          class="nav-link d-flex align-items-center position-relative"
          aria-current="page"
          data-bs-toggle="collapse"
          data-bs-target="#home-collapse"
          aria-expanded="false"
        >
          <span class="sidebar-icon" [innerHTML]="'home' | safe"> </span>
          <span class="sidebar-label"> {{ "Select" }}</span>
          <span class="select-aero" [innerHTML]="'angleUp' | safe"> </span>
        </a>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="rounded">Overview</a></li>
            <li><a href="#" class="rounded">Updates</a></li>
            <li><a href="#" class="rounded">Reports</a></li>
          </ul>
        </div>
      </li> -->
    </ul>
    <hr />
    <button class="btn btn-danger w-75 mx-auto mb-3" (click)="logout()">
      Logout
    </button>
    <!-- <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>mdo</strong>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>
</div>
