<div class="chat-container">
  <div class="d-flex align-items-center">
    <img
      src="https://bootdey.com/img/Content/avatar/avatar1.png"
      class="rounded-circle"
      alt="image"
      height="30"
      width="30"
    />
    <span class="ps-2">Name Username</span>
  </div>
  <hr />
  <div class="all-chats">
    @for (list of allMessages; track $index) {
    <div
      class="messages p-2 my-2 me-2 rounded"
      [ngClass]="list.sender ? 'msg-sender' : 'msg-receiver'"
    >
      <span>{{ list.msg }}</span>
    </div>
    }
  </div>
  <div class="w-100 my-2">
    <textarea
      class="form-control"
      #currentSendingMsg
      rows="1"
      (keyup.enter)="sendChat(currentSendingMsg.value)"
      placeholder="Type Message"
    ></textarea>
  </div>
</div>
