<div class="card">
  <div class="card-body">
    @if(selectedInfo){
    <div class="alert alert-dark" role="alert">
      Selected Lat-Lng :
      <span class="text-danger">{{ selectedInfo | json }}</span>
    </div>
    }
    <div #mapContainer id="map" style="height: 70vh"></div>

    <!-- <label for="source">Source</label>
    <input type="text" id="source" />
    <label for="destination">Destination</label>
    <input type="text" id="destination" />

    <input
      type="text"
      id="location"
      nz-input
      (keydown)="clearValue($event, 'location')"
      placeholder="Enter Restaurant Address"
      [formControl]="address"
    /> -->
    <ng-template #locationTemplate> </ng-template>
    <div
      class="button-wrapper d-flex justify-content-between border border-3 mt-3 p-3 w-50 mx-auto"
    >
      <div class="polygone">
        <button
          class="btn btn-info"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasPolygone"
          aria-controls="offcanvasPolygone"
        >
          Add Polygone
        </button>
        <div
          class="offcanvas offcanvas-end w-50"
          tabindex="-1"
          id="offcanvasPolygone"
          aria-labelledby="offcanvasPolygoneLabel"
        >
          <div class="offcanvas-header">
            <h5 id="offcanvasPolygoneLabel">Polygone</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="px-4">
            <app-map-polygone (polygoneLoc)="addPolygone($event)" />
          </div>
        </div>
      </div>
      <span class="sm-border"></span>
      <div class="polyline">
        <button
          class="btn btn-info"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasPolyline"
          aria-controls="offcanvasRight"
        >
          Add Polyline
        </button>
        <div
          class="offcanvas offcanvas-end w-50"
          tabindex="-1"
          id="offcanvasPolyline"
          aria-labelledby="offcanvasPolylineLabel"
        >
          <div class="offcanvas-header">
            <h5 id="offcanvasPolylineLabel">Polyline</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="px-4">
            <app-map-polyline (polylineLoc)="addPolyline($event)" />
          </div>
        </div>
      </div>
      <span class="sm-border"></span>
      <div class="circle">
        <button
          class="btn btn-info"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasCircle"
          aria-controls="offcanvasRight"
        >
          Add Circle
        </button>
        <div
          class="offcanvas offcanvas-end w-50"
          tabindex="-1"
          id="offcanvasCircle"
          aria-labelledby="offcanvasCircleLabel"
        >
          <div class="offcanvas-header">
            <h5 id="offcanvasCircleLabel">Circle</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="px-4">
            <app-map-circle (circleLoc)="addCircle($event)" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="below-btn-wrapper d-flex justify-content-between border border-3 mt-3 p-3 w-25 mx-auto text-center"
    >
      <button class="btn btn-secondary" type="button" (click)="dftPolygone()">
        Set Polygone
      </button>
      <span class="sm-border"></span>
      <button class="btn btn-secondary" type="button" (click)="dftPolyline()">
        Set Polyline
      </button>
    </div>
  </div>
</div>
