
.otp-input {
    display: flex;

    input {
        width: 57px;
        height: 57px;
        padding: 5px;
        margin: 7px;
        text-align: center;
        font-size: 28px;
        border-radius: 14px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}